@page "/gamescoreview"
@inherits GameScore;
@using BlazorApp1.Classes;
<h3>GameScore</h3>
<table>
    <tr>
        <th class="nameCol">Name</th>
        @for (int i = 0; i < 9; i++)
        {
            <th colspan="2" class="scoreHeader">
                @i
            </th>
        }
        <th colspan="3" class="scoreHeader">10</th>
        <th class="totalCol">Total</th>
        <th class="maxCol">Max</th>
    </tr>
    <tr>
        <td rowspan="2" class="nameCol nameText">Johan</td>
        @for (int i = 0; i < 10; i++)
        {
            var frameNumber = i;
            <td class="frame @SelectedCellClass(frameNumber, 1) @ErrorCellClass(frameNumber)" @onclick="@(() => SetFocus(frameNumber, 1))">
                @frames.AllFrames[i].ShowShotScore(1)
            </td>
            <td class="frame @SelectedCellClass(frameNumber, 2) @ErrorCellClass(frameNumber)" @onclick="@(() => SetFocus(frameNumber, 2))">
                @frames.AllFrames[i].ShowShotScore(2)
            </td>
            if (i == 9)
            {
                <td class="frame @SelectedCellClass(frameNumber, 3) @ErrorCellClass(frameNumber)" @onclick="@(() => SetFocus(frameNumber, 3))">
                    @frames.AllFrames[i].ShowShotScore(3)
                </td>
            }
        }


        <td rowspan="2" class="totalCol totalText">@frames.AllFrames[9].Score</td>
        <td rowspan="2" class="maxCol totalText">@frames.AllFrames[9].Score</td>
    </tr>
    <tr>
        @for (int i = 0; i < 10; i++)
        {
            var tmp = i;
            <td colspan="@TotalScoreColSpan(tmp)" class="scoreFooter frameTotal">
                @frames.AllFrames[tmp].Score
            </td>
        }
    </tr>
</table>
<ScoreInputView ScoreClicked="AddScore" IsVisible="@ShowKeyboard" PossibleInputs="@PossibleInputs"></ScoreInputView>

@code
{
}
