@inherits GameScore;
@using BlazorBowlingScoreCard.Classes;
@using BlazorBowlingScoreCard.Pages;

<table class="gameboard">
    <tr>
        <th class="nameCol">Name</th>
        @for (int i = 1; i < 10; i++)
        {
            <th colspan="2" class="scoreHeader">
                @i
            </th>
        }
        <th colspan="3" class="scoreHeader">10</th>
        <th class="totalCol">Total</th>
        <th class="maxCol">Max</th>
    </tr>
    <tr>
        <td rowspan="2" class="nameCol nameText"><input class="nameText" @bind="@PlayerName" /></td>
        @for (int i = 0; i < 9; i++)
        {
            var frameNumber = i;
            <td id="@FrameId(frameNumber, 1)" 
                class="frame @SelectedCellClass(@frameNumber, 1) @ErrorCellClass(@frameNumber)" 
                @onclick="@((args) => @SetFocus(args, @frameNumber, 1))">
                    @Frames.GetShotScoreString(@frameNumber, 1)
            </td>
            <td id="@FrameId(frameNumber, 2)" 
                class="frame @SelectedCellClass(@frameNumber, 2) @ErrorCellClass(@frameNumber)" 
                @onclick="@((args) => @SetFocus(args, @frameNumber, 2))">
                    @Frames.GetShotScoreString(@frameNumber, 2)
            </td>
        }
        <td id="@FrameId(9, 1)" 
            class="frame @SelectedCellClass(9, 1) @ErrorCellClass(9)" 
            @onclick="@((args) => @SetFocus(args, 9, 1))">
                @Frames.GetShotScoreString(9, 1)
        </td>
        <td id="@FrameId(9, 2)" 
            class="frame @SelectedCellClass(9, 2) @ErrorCellClass(9)" 
            @onclick="@((args) => SetFocus(args, 9, 2))">
                @Frames.GetShotScoreString(9, 2)
        </td>
        <td id="@FrameId(9, 3)" 
            class="frame @SelectedCellClass(9, 3) @ErrorCellClass(9)" 
            @onclick="@((args) => SetFocus(args, 9, 3))">
                @Frames.GetShotScoreString(9, 3)
        </td>

        <td rowspan="2" class="totalCol totalText">@Frames[9].Score</td>
        <td rowspan="2" class="maxCol totalText">@MaxScore</td>
    </tr>
    <tr>
        @for (int i = 0; i < 9; i++)
        {
            var tmp = i;
            <td colspan="2" class="scoreFooter frameTotal">
                @Frames[@tmp].Score
            </td>
        }
        <td colspan="3" class="scoreFooter frameTotal">
            @Frames[9].Score
        </td>
    </tr>
</table>
<ScoreInputView ScoreClicked="AddScore" IsVisible="@ShowKeyboard" XPos="@XPos" PossibleInputs="@PossibleInputs" IsStrikePossible="@IsStrikePossible" IsSparePossible="@IsSparePossible" SpareShotCount="@SpareShotCount"></ScoreInputView>

@code
{
}
